<template>
  <div id="app">
    <vueTable
      v-if="api"
      :inputData="api"
    />
  </div>
</template>

<script>
// тут импортирую локальный файл json, можно было бы загрузить его через http запрос, 
// если мы получали данные через api
import data from './api/initialData.json';
import vueTable from './components/testTable.vue'


export default {
  data(){
    return{
      api: {}
    }
  },
	components: {
		vueTable
	},

  mounted(){
    this.api = data;
  }
}
</script>

<style lang="scss">
  #app {

  }

</style>
